//
//  Build.xcconfig
//  MarkEditMac
//
//  Created by cyan on 12/26/22.
//
//  https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

CODE_SIGN_IDENTITY = -
DEVELOPMENT_TEAM =
PRODUCT_BUNDLE_IDENTIFIER = dev.wundram.mem

MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1

#include? "Local.xcconfig"
